<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>NetCamarero: Restaurantes</title>

    <!-- Scripts
    <script src="{{ asset('js/app.js') }}" defer></script>
    -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Leaflet JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>


    <!-- Styles -->
    <link href="../stylesheets/app.css" rel="stylesheet">

</head>
<body>
<div id="app">
<nav class="navbar navbar-expand-lg navbar-light bg-danger" id="prinNav">
<a class="navbar-brand titulo" href="home.html"> <img src="../images/brand.png" class="netCB"> NetCamarero</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navi" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item" v-if="esFav==-1">
          <a class="nav-link" href="login.html">Entrar</a>
        </li>
        <li class="nav-item" v-if="esFav==-1">
          <a class="nav-link" href="register.html">Registrar</a>
        </li>
        <li class="nav-item" v-if="esFav==1 || esFav==0">
          <a class="nav-link" href="profile.html">Perfil</a>
        </li>
        <li class="nav-item" v-if="esFav==1 || esFav==0">
          <a class="nav-link" href="#" @click="salir()">Salir</a>
        </li>
        <li class="nav-item" v-if="esAdmin==1">
          <a class="nav-link" href="dashboard.html">Dashboard</a>
        </li>
      </ul>
    </div>
</nav>

        <div class="container-fluid contDetalles">
        <div class="row mainC">
            <div class="col-12 col-md-3">
            <img :src="'https://safe-sierra-54506.herokuapp.com/' + info.photo" class="imgrest">
            </div>
            <div class="col-12 col-md-9">
                <div class="row ml-2 mr-1">
                    <div class="col-12">
                        <h1 class="ttle">{{info.name}}</h1>
                    </div>
                    <div class="col-3">
                        <p class="detalle">Teléfono: {{info.phonenumber}}</p>
                    </div>
                    <div class="col-5">
                        <p class="detalle">Categoría: {{info.category.name}}</p>
                    </div>
                    <div class="col-4">
                        <p class="detalle">Localidad: {{info.city.name}}</p>
                    </div>
                    <div class="col-12">
                        <p class="detalle2">{{info.description}}</p>
                    </div>
                    <div class="col-2">
                        <p class="detalle">Likes: {{info.likes}}</p>
                    </div>
                    <div class="col-12">
                        <button v-if="esFav == 0" class="btn btn-danger" @click="guardaFav()">Añadir a Favoritos</button>
                        <button v-if="esFav == 0 || esFav == 1" class="btn btn-danger" @click="postLike()">Like</button>
                        <button v-if="esFav == 1" class="btn btn-success" @click="quitafav()">¡Ya está en los Favoritos! Click para quitarlo</button>
                        <button v-if="esFav == -1" class="btn btn-warning">Logueate para añadir a Favoritos</button>
                        <button v-if="esFav == -1" class="btn btn-warning">Logueate para darle like</button>
                        
                        <button id="mapaLoad" class="btn btn-primary" @click="cargaMapa()">Ver Dirección</button>
                        
                    </div>
                </div>

            </div>
        </div>

        <!-- Mapa leaflet -->
        <div class="container">
            <br><br>
            <div id="mapid"></div>
        </div>

        <!-- APARTADO DE COMENTARIOS DE RESTAURANTES -->

        <div class="row mainC ">

            <div class="col-12">
                <h1 class="ttle text-center">Comentarios</h1>
            </div>

            <div class="container" v-for="comment in comments">
                <div class="col-12 rowComment">
                <div class="flexft mtop">
                    <img src="../images/defaultuser.png" class="profilepic">
                    <h1 class="hello">{{comment.user.name}}</h1>
                </div>
                <p class="comm">{{comment.content}}</p>
                </div>
            </div>

            <div class="container" v-if="esFav==1 || esFav==0">
                <div class="col-12 rowComment">
                    <h1 class="hello">Publica tu Comentario:</h1>
                    <textarea name="comentarioArea" id="comentarioArea" cols="30" rows="10" v-model="commentContent"></textarea>
                    <button class="btn btn-danger ml-4" @click="postComment()">Añadir Comentario</button>
                </div>
            </div>

            <div class="col-12" v-else>
                <h1 class="ttle text-center">Logueate Para Agregar Comentarios</h1>
            </div>

        </div>
    </div>

    </div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../scripts/scriptShow.js"></script>
</body>
</html>

